.container {
  max-width: 500px;
  border: 1px solid #333;
  padding: 3em;
}

.title {
  text-align: center;
}

.title h3 {
  color: blue;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.message {
  color: #333;
}

.title p {
  margin-top: 1em;
  color: #333;
  letter-spacing: 0.5px;
}

.error {
  color: red;
  margin-top: 0.2em;
}

.subText {
  font-size: 1.1rem;
  margin: 0.5em 0;
  color: #333;
  line-height: 1.3em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
}

.btn {
  margin: 2em 0;
}

.btn Button {
  padding: 0.5em 2em;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 460px;
    padding: 0 0.3em;
    margin: 0 0.3em;
  }
}

@media screen and (max-width: 440px) {
  .container {
    max-width: 340px;
  }
}
