.container {
  max-width: 500px;
  border: 1px solid #333;
}

.title {
  text-align: center;
  color: blue;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em 7rem;
  margin: 0 auto;
}

.btn {
  margin: 2em 0;
}

.btn Button {
  padding: 0.5em 2em;
}

.error {
  color: red;
  margin-top: 0.2em;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options p {
  font-size: 1.1rem;
  text-align: center;
}

.options span {
  color: #ff5574;
  cursor: pointer;
}

.options span:hover {
  color: #e2389b;
}

.optionsHeading {
  margin-bottom: 1em;
}

.line {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 460px;
    padding: 0 0.3em;
    margin: 0 0.3em;
  }
}

@media screen and (max-width: 440px) {
  .container {
    max-width: 340px;
  }
}
